.selected{
    -fx-border-color: lightblue;
    -fx-border-width: 0 0 0 5;
}

.top-panel{
    -fx-border-color: lightblue;
    -fx-border-width: 3 0 0 0;
}

.container-bar{
    -fx-background-color: white;
    -fx-border-width: 1 0 0 0;
    -fx-background-radius: 15;
}

.search-bar{
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-background-color: white;
}

.profile-photo{
    -fx-border-radius: 100;
}

.menu-bar{
    -fx-background-color: black;
}

.menu-bar .label {
    -fx-font-size: 20 pt;
    -fx-text-fill: white;

}

.menu:hover {
    -fx-background-color: lightblue;
}

.text-field{
    -fx-border-radius: 20;
    -fx-border-width: 0 0 0 0;
}

.button{
    -fx-border-radius: 5;
    -fx-background-color: lightblue;
    -fx-text-fill: white;
    -fx-background-size: 20pt;
}