.precolor{
    -fx-background-color: linear-gradient(to bottom, #2b343f, rgb(0, 0, 0));
}

.color{
    -fx-background-color: linear-gradient(to bottom, #212529, rgb(0, 0, 0));
}

.colorTransparent{
    -fx-border-color: transparent;
}

.songColor{
    -fx-background-color: linear-gradient(to bottom, #001e3b, rgb(0, 0, 0));
}


.top-panel{
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
    -fx-border-width: 3 0 0 0;
}

.container-bar{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 70;
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.search-bar{
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-color-label-visible: white;
    -fx-text-fill: white;
}

.profile-photo{
    -fx-border-radius: 100;
}

.menu-bar{
    -fx-background-color: transparent;
}

.menu-bar .label {
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-background-color: transparent;

}

.menu:hover {
    -fx-background-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.text-field{
    -fx-border-radius: 20;
    -fx-border-width: 0 0 0 0;
}

.button1{
    -fx-border-radius: 5;
    -fx-border-color: #3be9e6;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-size: 20pt;
    -fx-cursor: hand;
}

.button1:hover{
    -fx-background-color: #ffffff3b;
}

.button2{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff73;
    -fx-font-size: 15 pt;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button2:focused{
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
    -fx-border-width: 0 0 0 5;
    -fx-text-fill: white;
}

.buttonR{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.buttonR:hover{
    -fx-background-color: #ffffff3b;
}

.button2:hover{
    -fx-background-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.menuButton{
    -fx-background-color: transparent;

}

.scroll-pane{
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.increment-button, .decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    --fx-background-radius: 0em;
}

.scroll-pane > .corner{
    -fx-background-color: black;
}

.slider1 .track {
    -fx-background-color: linear-gradient(to right, #2D819D 1%, #969696 1%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.15em; /* 3 */
    -fx-cursor: hand;
}
.slider1 .thumb{
    -fx-cursor: hand;
}




.table-view{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .row-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: linear-gradient(to bottom, #212529, rgb(0, 0, 0));;
    -fx-text-background-color: blue;
    -fx-cursor: hand;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: white;
}

.table-row-cell:even{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}