.precolor{
    -fx-background-color: linear-gradient(to bottom, #2b343f, rgb(0, 0, 0));
}

.color{
    -fx-background-color: linear-gradient(to bottom, #212529, rgb(0, 0, 0));
}

.colorTransparent{
    -fx-border-color: transparent;
}

.selected{
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
    -fx-border-width: 0 0 0 5;
    -fx-text-fill: white;
}

.top-panel{
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
    -fx-border-width: 3 0 0 0;
}

.container-bar{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 70;
    -fx-border-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.search-bar{
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-color-label-visible: white;
    -fx-text-fill: white;
}

.profile-photo{
    -fx-border-radius: 100;
}

.menu-bar{
    -fx-background-color: transparent;
}

.menu-bar .label {
    -fx-font-size: 20 pt;
    -fx-text-fill: white;
    -fx-background-color: transparent;

}

.menu:hover {
    -fx-background-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.text-field{
    -fx-border-radius: 20;
    -fx-border-width: 0 0 0 0;
}

.button1{
    -fx-border-radius: 5;
    -fx-border-color: #3be9e6;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-size: 20pt;
}

.button2{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff73;
    -fx-font-size: 15 pt;
    -fx-font-weight: bold;
}

.button2:hover{
    -fx-background-color: linear-gradient(to right, #3be9e6, #29b9b612);
}

.menuButton{
    -fx-background-color: transparent;

}